/* General body formatting */
body {
    display: flex;
    flex-direction: column;
    /* min-width: 375px; */
}

/* General h1 formatting */
h1 {
    padding: 20px;
}

/* General header formatting */
header {
    flex: 0 80px;
    background-color: #9ba17f;
}

/* Main body formatting for all pages */
main {
    padding: 20px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #e8e4db;
}

/* General footer formatting */
footer {
    flex: 0 30px;
    background-color: #c9c1ae;
}

/* Navigation bar formatting */
ul {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

/* Active tab */
.nav-tabs .nav-link.active {
    background-color: #e8e4db !important;
    color: #004007 !important;
    border-bottom: none !important;
}

.nav-tabs .nav-link {
    color: #3b3b3b;
}

.nav-tabs .nav-link:hover {
    color: #004007;
}

/* Adjusts div when switched to portrait orientation */
@media (orientation: portrait) {
    div {
        transform: rotate(270deg);
    }
}

/* Formatting for the "Procrastinot!" text on all pages */
h1.mainName {
    padding: 10px;
    font-size: 5vh;
}