/* Headers above the 3 snapshots */
header.Snapshots {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

/* Welcome text at the top */
section.welcome {
    padding: 20px;
}

/* Animation for the picture */
.slide-in {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-in img {
    transform: translateX(-100%);
    animation: slideFromLeft 1s forwards ease-out;
}

@keyframes slideFromLeft {
    to {
        transform: translateX(0);
    }
}

/* Text underneath the picture */
p.presNelson {
    text-align: center;
    font-style: italic;
    padding: 10px;
}

/* Make the tables and cards look nice */
.table th,
.table td {
    vertical-align: middle;
    text-align: center;
}

/* Formatting of the headers of the cards */
.snapshot-card-header {
    padding: 10px;
    background-color: #9ba17f;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

/* Picture formatting */
.picture-box {
    margin-top: 2rem;
    /* adjust as needed */
}