/* Heading for 2nd column */
h2.alternate {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.flash-row {
    background-color: #ffff99;
    animation: flash 2s ease;
}

@keyframes flash {
    0% {
        background-color: #ffff99;
    }

    50% {
        background-color: #ffffcc;
    }

    100% {
        background-color: transparent;
    }
}